.Dictionary .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.Dictionary section {
  margin: 20px 0;
  background: #c9d2df;
  padding: 30px;
  border-radius: 16px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
}
.Dictionary {
  text-align: center;
}
