.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 12px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #293a44;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
